<div class="sign-in">
            <div class="main-container">
                    <div class="acc-in">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" placeholder="password" class="form-control"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button id="submitBtn" type="submit" class="btn btn-primary"><a
                                    href="../secondPage.html/create.html">Submit</a></button>
                        </form>
                    </div>
                    <div class="create-acc">
                        <form>
                            <h2 class="home-headers">Create Account</h2>
                            <div class="mb-3">
                                <label for="exampleInputFirstName1" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="exampleInputFirstName1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputLastName1" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="exampleInputLastName1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="inputEmail1"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword1">
                                <div id="passwordHelp" class="form-text">Must be 8-20 characters long.</div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I am not a robot!</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

            </div>
            <div class="back-div">
                <div>
                    <div class="multi-container">
                        <h2 class="home-headers-2">Welcome Back!</h2>
                        <button type="signin" class="sing-in-btn">Sign In</button>
                    </div>
                </div>
            </div>
        </div>