<button
  id="signout"
  class="no-button"
  class="btn btn-primary dark-btn"
>Sign-Out</button>
<h1>Create New NFT</h1>
<div class="image-placeholder">
  <h4>image placeholder text</h4>
</div>
<section>

  <div class="mb-3">
    <label for="nameNFT" class="form-label">Name</label>
    <input
      type="text"
      placeholder="Item Name"
      class="form-control"
      id="nameNFT"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      type="text"
      placeholder="Give a Description"
      class="form-control"
      id="descriptionNFT"
      aria-describedby="emailHelp"
    />
  </div>

</section>

<button type="submit" class="btn btn-primary dark-btn">Create</button>
<script src="/js/logout.js"></script>